* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #97be5a; /* Light green background */
}

h2,
h3 {
  color: #ff0000; /* Bright red */
}

footer {
  padding: 20px;
  color: white;
  background-color: #ff0000; /* Bright red */
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  max-width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  background-color: #ffe8c5; /* Light beige */
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #ffa27f; /* Peach */
  text-align: center;
  color: white;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #ff0000; /* Bright red */
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  display: inline;
}

.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Devices with screen width 1200px and below */
@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  main aside {
    align-self: center;
  }
}

/* Devices with screen width 768px and below */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}
